In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
# Carregar o dataset usando ponto e vírgula como delimitador
df = pd.read_csv('dataset_senadores.csv', sep=';')

In [8]:
# Exibir as informações gerais do dataset
df.info(), df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 317961 entries, 0 to 317960
Data columns (total 11 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   ANO                317961 non-null  int64
 1   MES                317961 non-null  int64
 2   SENADOR            317961 non-null  object
 3   TIPO_DESPESA       317961 non-null  object
 4   CNPJ_CPF           317961 non-null  object
 5   FORNECEDOR         317961 non-null  object
 6   DOCUMENTO          317958 non-null  object
 7   DATA               317961 non-null  object
 8   DETALHAMENTO       317961 non-null  object
 9   VALOR_REEMBOLSADO  317961 non-null  float64
 10  COD_DOCUMENTO      317961 non-null  int64
dtypes: float64(1), int64(3), object(7)
memory usage: 26.7+ MB

(None,
                  ANO            MES  VALOR_REEMBOLSADO  COD_DOCUMENTO
 count  317961.000000  317961.000000      317961.000000   3.179610e+05
 mean     2015.153915       6.644268        1019.058547   1.985928e+10
 std         3.746790       3.308163        2599.397652   1.987107e+11
 min      2008.000000       1.000000       -1500.000000   1.438800e+05
 25%      2012.000000       4.000000         100.000000   6.211970e+05
 50%      2015.000000       7.000000         283.480000   2.019630e+06
 75%      2018.000000      10.000000        1000.000000   2.106125e+06
 max      2022.000000      12.000000      270000.000000   2.009031e+12)

In [ ]:
# Verificar a quantidade de valores ausentes por coluna
df.isnull().sum()

ANO                  0
MES                  0
SENADOR              0
TIPO_DESPESA         0
CNPJ_CPF             0
FORNECEDOR           0
DOCUMENTO            3
DATA                 0
DETALHAMENTO         0
VALOR_REEMBOLSADO    0
COD_DOCUMENTO        0
dtype: int64

In [ ]:
# 3 valores ausentes na coluna "DOCUMENTO"
df = df.dropna(subset=['DOCUMENTO'])

print(df.isnull().sum()) # Sem mais valores ausentes

ANO                  0
MES                  0
SENADOR              0
TIPO_DESPESA         0
CNPJ_CPF             0
FORNECEDOR           0
DOCUMENTO            0
DATA                 0
DETALHAMENTO         0
VALOR_REEMBOLSADO    0
COD_DOCUMENTO        0
dtype: int64